In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:\\Users\\paliw\\OneDrive\\Desktop\\Quantum_softdev\\quantium-starter-repo\\data\\daily_sales_data_0.csv")
data1 = pd.read_csv("C:\\Users\\paliw\\OneDrive\\Desktop\\Quantum_softdev\\quantium-starter-repo\\data\\daily_sales_data_1.csv")
data2 = pd.read_csv("C:\\Users\\paliw\\OneDrive\\Desktop\\Quantum_softdev\\quantium-starter-repo\\data\\daily_sales_data_2.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13720 entries, 0 to 13719
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   13720 non-null  object
 1   price     13720 non-null  object
 2   quantity  13720 non-null  int64
 3   date      13720 non-null  object
 4   region    13720 non-null  object
dtypes: int64(1), object(4)
memory usage: 536.1+ KB

In [4]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13720 entries, 0 to 13719
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   13720 non-null  object
 1   price     13720 non-null  object
 2   quantity  13720 non-null  int64
 3   date      13720 non-null  object
 4   region    13720 non-null  object
dtypes: int64(1), object(4)
memory usage: 536.1+ KB

In [5]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13720 entries, 0 to 13719
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   13720 non-null  object
 1   price     13720 non-null  object
 2   quantity  13720 non-null  int64
 3   date      13720 non-null  object
 4   region    13720 non-null  object
dtypes: int64(1), object(4)
memory usage: 536.1+ KB

In [6]:
data['product'].unique()

array(['pink morsel', 'gold morsel', 'magenta morsel',
       'chartreuse morsel', 'periwinkle morsel', 'vermilion morsel',
       'lapis morsel'], dtype=object)

In [7]:
filtered_data = data[data['product'] == 'pink morsel']

In [8]:
filtered_data1 = data1[data1['product'] == 'pink morsel']

In [9]:
filtered_data2 = data2[data2['product'] == 'pink morsel']

In [10]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1960 entries, 0 to 13695
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   1960 non-null   object
 1   price     1960 non-null   object
 2   quantity  1960 non-null   int64
 3   date      1960 non-null   object
 4   region    1960 non-null   object
dtypes: int64(1), object(4)
memory usage: 91.9+ KB

In [12]:
# Remove dollar signs from the 'price' column and convert to float
filtered_data['price'] = filtered_data['price'].replace({'\$': ''}, regex=True).astype(float)

C:\Users\paliw\AppData\Local\Temp\ipykernel_832\373147121.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['price'] = filtered_data['price'].replace({'\$': ''}, regex=True).astype(float)

In [13]:
filtered_data.head()

        product  price  quantity        date region
0   pink morsel    3.0       546  2018-02-06  north
1   pink morsel    3.0       549  2018-02-06  south
2   pink morsel    3.0       577  2018-02-06   east
3   pink morsel    3.0       519  2018-02-06   west
28  pink morsel    3.0       529  2018-02-07  north

In [14]:
filtered_data1.loc[:, 'price'] = filtered_data1['price'].replace({'\$': ''}, regex=True).astype(float)

In [15]:
filtered_data2.loc[:, 'price'] = filtered_data2['price'].replace({'\$': ''}, regex=True).astype(float)

In [20]:
# Create a new column 'sales' by multiplying 'quantity' and 'price'
filtered_data.loc[:, 'sales'] = filtered_data['quantity'] * filtered_data['price']

In [24]:
filtered_data1.loc[:, 'sales'] = filtered_data1['quantity'] * filtered_data1['price']

In [25]:
filtered_data2.loc[:, 'sales'] = filtered_data2['quantity'] * filtered_data2['price']

C:\Users\paliw\AppData\Local\Temp\ipykernel_832\1364910434.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data2.loc[:, 'sales'] = filtered_data2['quantity'] * filtered_data2['price']

In [27]:
filtered_data.head()

        product  price  quantity        date region   sales
0   pink morsel    3.0     546.0  2018-02-06  north  1638.0
1   pink morsel    3.0     549.0  2018-02-06  south  1647.0
2   pink morsel    3.0     577.0  2018-02-06   east  1731.0
3   pink morsel    3.0     519.0  2018-02-06   west  1557.0
28  pink morsel    3.0     529.0  2018-02-07  north  1587.0

In [28]:
df = filtered_data.copy()
df1 = filtered_data1.copy()
df2 = filtered_data2.copy()

In [29]:
df.head()

        product  price  quantity        date region   sales
0   pink morsel    3.0     546.0  2018-02-06  north  1638.0
1   pink morsel    3.0     549.0  2018-02-06  south  1647.0
2   pink morsel    3.0     577.0  2018-02-06   east  1731.0
3   pink morsel    3.0     519.0  2018-02-06   west  1557.0
28  pink morsel    3.0     529.0  2018-02-07  north  1587.0

In [30]:
# Concatenate the dataframe vertically
result = pd.concat([df, df1, df2])

In [31]:
result.head()

        product price  quantity        date region   sales
0   pink morsel   3.0     546.0  2018-02-06  north  1638.0
1   pink morsel   3.0     549.0  2018-02-06  south  1647.0
2   pink morsel   3.0     577.0  2018-02-06   east  1731.0
3   pink morsel   3.0     519.0  2018-02-06   west  1557.0
28  pink morsel   3.0     529.0  2018-02-07  north  1587.0

In [32]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5881 entries, 0 to 13695
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   5880 non-null   object
 1   price     5880 non-null   object
 2   quantity  5880 non-null   float64
 3   date      5880 non-null   object
 4   region    5880 non-null   object
 5   sales     5880 non-null   object
dtypes: float64(1), object(5)
memory usage: 321.6+ KB

In [33]:
# Reorder the columns as per your requirement ('Sales', 'Date', 'Region')
result = result[['sales', 'date', 'region']]

In [35]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5881 entries, 0 to 13695
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sales   5880 non-null   object
 1   date    5880 non-null   object
 2   region  5880 non-null   object
dtypes: object(3)
memory usage: 183.8+ KB

In [36]:
# Save the combined DataFrame to a new CSV file
result.to_csv('final.csv', index=False)